.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}



#mapAction{
	position: absolute;
	margin-top: -50px;

	z-index: 9999;
	width: 100%;
}
#mapAction button{
	width: 100%;
	height: 50px;
}

.selectedButton {
	background-color: lightblue;	
}

.tab-nav.tabs{
	display: none;
}

.bar-stable.bar.bar-header.disable-user-behavior{
	display: none;
}
.scroll-content.ionic-scroll.has-header.has-tabs{
	height: 100%;
	margin-top: -50px;

}
.scroll-content.ionic-scroll.has-header.has-tabs-top{
	margin-top: -100px;
}